<app-navbar></app-navbar>

<div class="flex flex-wrap justify-center gap-6">
  <!-- Organisation Section -->
  <ng-container *ngIf="userRole !== '4'">
    <a
      routerLink="/organisation"
      class="bg-white p-6 shadow-md rounded-xl flex flex-col items-center transition hover:shadow-lg hover:bg-gray-50 w-full max-w-lg border border-gray-300"
      >
      <img src="Org.jpg" alt="Organisation" class="w-26 h-16 mb-4" />
      <h2 class="text-xl font-semibold text-gray-800">Organisation Master</h2>
    </a>
  </ng-container>

  <!-- Timesheet App -->
  <a
    routerLink="/timesheet"
    class="bg-white p-6 shadow-md rounded-xl flex flex-col items-center transition hover:shadow-lg hover:bg-gray-50 w-full max-w-lg border border-gray-300"
    >
    <img src="time.jpg" alt="Timesheet" class="w-26 h-16 mb-4" />
    <h2 class="text-xl font-semibold text-gray-800">Timesheet App</h2>
  </a>

  <!-- Resource Management -->
  <ng-container *ngIf="userRole !== '4'">
    <a
      routerLink="/resource-management"
      class="bg-white p-6 shadow-md rounded-xl flex flex-col items-center transition hover:shadow-lg hover:bg-gray-50 w-full max-w-lg border border-gray-300"
      >
      <img src="rmg.jpg" alt="Resource Management" class="w-26 h-20 mb-4" />
      <h2 class="text-xl font-semibold text-gray-800">Resource Management</h2>
    </a>
  </ng-container>
</div>

<div class="p-6">
  <router-outlet></router-outlet>
</div>
