<div class="p-2">
    <!-- Top Buttons -->
    <!-- <div class="flex space-x-4 mb-4">
        <button class="bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md"
          (click)="changeSection('customer')">Customer</button>
        <button class="bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md"
          (click)="changeSection('customerCategory')">Customer Categories</button>
      </div> -->

    <!-- Customer Section -->
    <div *ngIf="selectedSection === 'customer'" class="p-2">
        <h3 class="text-xl font-semibold mb-4">Add New Customer</h3>


        <form class="mt-4" #customerForm="ngForm" (ngSubmit)="submitCustomer(customerForm)">
            <div class="grid grid-cols-6 gap-4">
                <!-- Customer Name (Required) -->
                <div class="form-group">
                    <label>Customer Name*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.customerName"
                        #customerName="ngModel" name="customerName" required
                        [ngClass]="{'border-red-500': customerName.invalid && customerName.touched || (customerForm.submitted && customerName.invalid)}">
                    <span class="text-red-500 text-sm"
                        *ngIf="(customerName.invalid && customerName.touched) || (customerForm.submitted && customerName.invalid)">Customer
                        Name is required</span>
                </div>
                <div class="form-group">
                    <label>Company Website</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.companyWebsite"
                        name="companyWebsite">
                </div>

                <!-- Email (Required & Valid Email) -->
                <div class="form-group">
                    <label>Email Address*</label>
                    <input type="email" class="border p-2 w-full rounded-md" [(ngModel)]="customer.email"
                        #email="ngModel" name="email" required
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        [ngClass]="{'border-red-500': (email.invalid && email.touched) || (customerForm.submitted && email.invalid)}">
                    <span class="text-red-500 text-sm"
                        *ngIf="(email.invalid && email.touched) || (customerForm.submitted && email.invalid)">Valid
                        Email is required</span>
                </div>

                <!-- Phone Number (Required & 10 Digits) -->
                <div class="form-group">
                    <label>Phone Number*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.phone"
                        #phone="ngModel" name="phone" required pattern="^[0-9]{10}$"
                        [ngClass]="{'border-red-500': (phone.invalid && phone.touched) || (customerForm.submitted && phone.invalid)}">
                    <span class="text-red-500 text-sm"
                        *ngIf="(phone.invalid && phone.touched) || (customerForm.submitted && phone.invalid)">Enter
                        a valid
                        10-digit phone number</span>
                </div>

                <div class="form-group">
                    <label>Alternate Phone Number</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.alternatePhone"
                        name="alternatePhone">
                </div>

                <!-- Customer Status (Required) -->
                <!-- Customer Status -->
                <div class="form-group">
                    <label>Customer Status*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.status"
                        #status="ngModel" name="status" list="statusList" required
                        [ngClass]="{'border-red-500': (status.invalid && status.touched) || (customerForm.submitted && status.invalid)}"
                        placeholder="Select or type status">
                    <datalist id="statusList">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </datalist>
                    <span class="text-red-500 text-sm"
                        *ngIf="status.invalid && (status.touched || customerForm.submitted)">
                        Status is required
                    </span>
                </div>

                <!-- Customer Sector -->
                <!-- Customer Sector -->
                <div class="form-group">
                    <label>Customer Sector*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="selectedSector"
                        #sector="ngModel" name="sector" list="sectorList" (input)="filterIndustries()" required
                        [ngClass]="{'border-red-500': (sector.invalid && sector.touched) || (customerForm.submitted && sector.invalid)}"
                        placeholder="Select or type sector">
                    <datalist id="sectorList">
                        <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
                    </datalist>
                    <span class="text-red-500 text-sm"
                        *ngIf="sector.invalid && (sector.touched || customerForm.submitted)">
                        Sector is required
                    </span>
                </div>

                <!-- Customer Industry -->
                <div class="form-group">
                    <label>Customer Industry*</label>
                    <select class="border p-2 w-full rounded-md" [(ngModel)]="selectedIndustry" #industry="ngModel"
                        name="industry" (change)="filterDomains()" required
                        [ngClass]="{'border-red-500': (industry.invalid && industry.touched) || (customerForm.submitted && industry.invalid)}">
                        <option value="" disabled selected>Select Industry</option>
                        <option *ngFor="let industry of industries" [value]="industry">{{ industry }}
                        </option>
                    </select>
                    <span class="text-red-500 text-sm"
                        *ngIf="industry.invalid && (industry.touched || customerForm.submitted)">
                        Industry is required
                    </span>
                </div>

                <!-- Customer Domain -->
                <div class="form-group">
                    <label>Customer Domain*</label>
                    <select class="border p-2 w-full rounded-md" [(ngModel)]="selectedDomain" #domain="ngModel"
                        name="domain" required
                        [ngClass]="{'border-red-500': (domain.invalid && domain.touched) || (customerForm.submitted && domain.invalid)}">
                        <option value="" disabled selected>Select Domain</option>
                        <option *ngFor="let domain of domains" [value]="domain">{{ domain }}</option>
                    </select>
                    <span class="text-red-500 text-sm"
                        *ngIf="domain.invalid && (domain.touched || customerForm.submitted)">
                        Domain is required
                    </span>
                </div>

                <!-- Customer Type (Required) -->
                <div class="form-group">
                    <label>Customer Type*</label>
                    <select class="border p-2 w-full rounded-md" [(ngModel)]="customer.customerType"
                        #customerType="ngModel" name="customerType" required
                        [ngClass]="{'border-red-500': (customerType.invalid && customerType.touched) || (customerForm.submitted && customerType.invalid)}">
                        <option value="" disabled selected>Select Customer Type</option>
                        <option value="Existing">Existing</option>
                        <option value="Potential">Potential</option>
                    </select>
                    <span class="text-red-500 text-sm"
                        *ngIf="(customerType.invalid && customerType.touched) || (customerForm.submitted && customerType.invalid)">Customer
                        Type is required</span>
                </div>

                <!-- City (Required) -->
                <div class="form-group">
                    <label>City*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.city" #city="ngModel"
                        name="city" required
                        [ngClass]="{'border-red-500': (city.invalid && city.touched) || (customerForm.submitted && city.invalid)}">
                    <span class="text-red-500 text-sm"
                        *ngIf="city.invalid && (city.touched || customerForm.submitted)">City is
                        required</span>
                </div>

                <!-- State (Required) -->
                <div class="form-group">
                    <label>State*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.state"
                        #state="ngModel" name="state" required
                        [ngClass]="{'border-red-500': (state.invalid && state.touched) || (customerForm.submitted && state.invalid)}">
                    <span class="text-red-500 text-sm"
                        *ngIf="state.invalid && (state.touched || customerForm.submitted)">State is
                        required</span>
                </div>
                <!-- Pincode (Required & 6 Digits) -->
                <div class="form-group">
                    <label>Pincode*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.pincode"
                        #pincode="ngModel" name="pincode" required pattern="^[0-9]{6}$"
                        [ngClass]="{'border-red-500': (pincode.invalid && pincode.touched) || (customerForm.submitted && pincode.invalid)}">
                    <span class="text-red-500 text-sm"
                        *ngIf="pincode.invalid && (pincode.touched || customerForm.submitted)">Enter a valid
                        6-digit pincode</span>
                </div>

                <!-- Country (Required) -->
                <div class="form-group">
                    <label>Country*</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.country"
                        #country="ngModel" name="country" required
                        [ngClass]="{'border-red-500': (country.invalid && country.touched) || (customerForm.submitted && country.invalid)}">
                    <span class="text-red-500 text-sm"
                        *ngIf="country.invalid && (country.touched || customerForm.submitted)">Enter
                        Country</span>
                </div>
                <div class="form-group">
                    <label>Customer Description</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="customer.description"
                        name="description">
                </div>
            </div>

            <!-- Submit Button -->
            <div class="mt-4">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
                    Submit
                </button>
            </div>
        </form>

        <!-- Customer Table -->
        <h3 class="mt-6 font-bold">Customer List</h3>

        <div class="rounded-lg w-full overflow-x-auto">
            <div class="rounded-lg w-full inline-block whitespace-nowrap">
    
        <table class="w-full border-collapse border border-gray-300 mt-4">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border p-2">S.No.</th>
                    <th class="border p-2">Customer Name</th>
                    <th class="border p-2">Company Website</th>
                    <th class="border p-2">Email Address</th>
                    <th class="border p-2">Phone Number</th>
                    <th class="border p-2">Alternate Phone Number</th>
                    <th class="border p-2">Customer Status</th>
                    <th class="border p-2">Customer Sector</th>
                    <th class="border p-2">Customer Industry</th>
                    <th class="border p-2">Customer Domain</th>
                    <th class="border p-2">Customer Type</th>
                    <th class="border p-2">City</th>
                    <th class="border p-2">State</th>
                    <th class="border p-2">Pincode</th>
                    <th class="border p-2">Country</th>
                    <th class="border p-2">Customer Description</th>
                    <th class="border p-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers; let i = index" class="hover:bg-gray-50">
                    <td class="border p-2">{{ i + 1 }}</td> <!-- Serial Number -->
                    <td class="border p-2">{{ customer.customer_name }}</td>
                    <td class="border p-2">{{ customer.customer_company_website }}</td>
                    <td class="border p-2">{{ customer.customer_email }}</td>
                    <td class="border p-2">{{ customer.customer_phone }}</td>
                    <td class="border p-2">{{ customer.customer_alternate_phone }}</td>
                    <td class="border p-2">{{ customer.is_active ? 'Active' : 'Inactive' }}</td>
                    <td class="border p-2">{{ customer.sector || '-' }}</td>
                    <td class="border p-2">{{ customer.industry || '-' }}</td>
                    <td class="border p-2">{{ customer.domain || '-' }}</td>
                    <td class="border p-2">{{ customer.is_new ? 'Potential' : 'Existing' }}</td>
                    <td class="border p-2">{{ customer.customer_city }}</td>
                    <td class="border p-2">{{ customer.customer_state }}</td>
                    <td class="border p-2">{{ customer.customer_pincode }}</td>
                    <td class="border p-2">{{ customer.customer_country }}</td>
                    <td class="border p-2">{{ customer.customer_description }}</td>
                    <td class="border p-2">
                        <button class="bg-red-500 text-white px-2 py-1 rounded"
                            (click)="deleteCustomer(customer.customer_id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div></div>
    </div>

    <!-- Customer Domain Section -->
    <div *ngIf="selectedSection === 'customerCategory'" class="p-2">
        <h3 class="text-xl font-semibold mb-4">Add New Category</h3>

        <!-- Form for Adding Category -->
        <form class="mt-4" #categoryForm="ngForm" (ngSubmit)="saveCategory(categoryForm)">
            <div class="grid grid-cols-6 gap-4">

                <!-- <div class="form-group">
    <label>Sector*</label>
    <div class="flex flex-col">
        <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="selectedSector" #sector="ngModel"
            name="sector" list="sectorList" (input)="filterIndustries()" required
            [ngClass]="{'border-red-500': (sector.invalid && sector.touched) || (categoryForm.submitted && sector.invalid)}"
            placeholder="Select or type sector">
        <datalist id="sectorList">
            <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
        </datalist>
        <span class="text-red-500 text-sm"
            *ngIf="(sector.invalid && sector.touched) || (categoryForm.submitted && sector.invalid)">
            Sector is required
        </span>
    </div>
</div>

<div class="form-group">
    <label>Industry*</label>
    <div class="flex flex-col">
        <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="selectedIndustry" #industry="ngModel"
            name="industry" list="industryList" (input)="filterDomains()" required
            [disabled]="newIndustry || (!selectedSector && !newSector)"
            [ngClass]="{'border-red-500': (industry.invalid && industry.touched) || (categoryForm.submitted && industry.invalid)}"
            placeholder="Select or type industry">
        <datalist id="industryList">
            <option *ngFor="let industry of industries" [value]="industry">{{ industry }}</option>
        </datalist>
        <span class="text-red-500 text-sm"
            *ngIf="(industry.invalid && industry.touched) || (categoryForm.submitted && industry.invalid)">
            Industry is required
        </span>
    </div>
</div>

<div class="form-group">
    <label>Domain*</label>
    <div class="flex flex-col">
        <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="selectedDomain" #domain="ngModel"
            name="domain" list="domainList" required
            [disabled]="newDomain || (!selectedIndustry && !newIndustry)"
            [ngClass]="{'border-red-500': (domain.invalid && domain.touched) || (categoryForm.submitted && domain.invalid)}"
            placeholder="Select or type domain">
        <datalist id="domainList">
            <option *ngFor="let domain of domains" [value]="domain">{{ domain }}</option>
        </datalist>
        <span class="text-red-500 text-sm"
            *ngIf="(domain.invalid && domain.touched) || (categoryForm.submitted && domain.invalid)">
            Domain is required
        </span>
    </div>
</div> -->


                <!-- Sector Dropdown + Textbox -->
                <div class="form-group">
                    <label>Sector*</label>
                    <div class="flex flex-col">
                        <select class="border p-2 w-full rounded-md" [(ngModel)]="selectedSector" #sector="ngModel"
                            name="sector" (change)="filterIndustries()" required
                            [ngClass]="{'border-red-500': (sector.invalid && sector.touched) || (categoryForm.submitted && sector.invalid)}">
                            <option value="" disabled selected>Select Sector</option>
                            <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
                        </select>
                        <span class="text-red-500 text-sm"
                            *ngIf="(sector.invalid && sector.touched) || (categoryForm.submitted && sector.invalid)">
                            Sector is required
                        </span>
                    </div>
                </div>

                <!-- New Sector Textbox -->
                <div class="form-group">
                    <label>Or Add New Sector</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="newSector" name="newSector"
                        placeholder="Enter new sector" (input)="enableIndustryField()">
                </div>

                <!-- Industry Dropdown + Textbox -->
                <div class="form-group">
                    <label>Industry*</label>
                    <div class="flex flex-col">
                        <select class="border p-2 w-full rounded-md" [(ngModel)]="selectedIndustry" #industry="ngModel"
                            name="industry" (change)="filterDomains()" required
                            [disabled]="newIndustry || (!selectedSector && !newSector)"
                            [ngClass]="{'border-red-500': (industry.invalid && industry.touched) || (categoryForm.submitted && industry.invalid)}">
                            <option value="" disabled selected>Select Industry</option>
                            <option *ngFor="let industry of industries" [value]="industry">{{ industry }}</option>
                        </select>
                        <span class="text-red-500 text-sm"
                            *ngIf="(industry.invalid && industry.touched) || (categoryForm.submitted && industry.invalid)">
                            Industry is required
                        </span>
                    </div>
                </div>

                <!-- New Industry Textbox -->
                <div class="form-group">
                    <label>Or Add New Industry</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="newIndustry" name="newIndustry"
                        placeholder="Enter new industry" (input)="enableDomainField()"
                        [disabled]="!selectedSector && !newSector">
                </div>

                <!-- Domain Dropdown + Textbox -->
                <div class="form-group">
                    <label>Domain*</label>
                    <div class="flex flex-col">
                        <select class="border p-2 w-full rounded-md" [(ngModel)]="selectedDomain" #domain="ngModel"
                            name="domain" required [disabled]="newDomain || (!selectedIndustry && !newIndustry)"
                            [ngClass]="{'border-red-500': (domain.invalid && domain.touched) || (categoryForm.submitted && domain.invalid)}">
                            <option value="" disabled selected>Select Domain</option>
                            <option *ngFor="let domain of domains" [value]="domain">{{ domain }}</option>
                        </select>
                        <span class="text-red-500 text-sm"
                            *ngIf="(domain.invalid && domain.touched) || (categoryForm.submitted && domain.invalid)">
                            Domain is required
                        </span>
                    </div>
                </div>

                <!-- New Domain Textbox -->
                <div class="form-group">
                    <label>Or Add New Domain</label>
                    <input type="text" class="border p-2 w-full rounded-md" [(ngModel)]="newDomain" name="newDomain"
                        placeholder="Enter new domain" [disabled]="!selectedIndustry && !newIndustry">
                </div>
            </div>

            <!-- Submit Button -->
            <div class="mt-4">
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">
                    Save
                </button>
            </div>
        </form>

        <!-- Category Table -->
        <h3 class="mt-6 font-bold">Category List</h3>
        <div class="rounded-lg w-full overflow-x-auto">
            <div class="rounded-lg w-full inline-block whitespace-nowrap">
    
        <table class="w-full border-collapse border border-gray-300 mt-4">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border p-2">S.No.</th>
                    <th class="border p-2">Sector</th>
                    <th class="border p-2">Industry</th>
                    <th class="border p-2">Domain</th>
                    <th class="border p-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of allCategories; let i = index" class="hover:bg-gray-50">
                    <td class="border p-2">{{ i + 1 }}</td> <!-- Serial Number -->
                    <td class="border p-2">{{ category.sector }}</td>
                    <td class="border p-2">{{ category.industry }}</td>
                    <td class="border p-2">{{ category.domain }}</td>
                    <td class="border p-2">
                        <button class="bg-red-500 text-white px-2 py-1 rounded"
                            (click)="deleteCategory(category.category_id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div></div>
    </div>

</div>