<div class="p-4">

    <div class="grid grid-cols-5 gap-4 mt-8">
        <!-- Row 1 -->
        <div>
            <label class="block mb-2 font-semibold">Customer Name*</label>
            <select [(ngModel)]="selectedCustomerId" name="customer" (change)="filterProjects()"
                class="border p-2 w-full rounded-md">
                <option value="" disabled selected>Select Customer</option>
                <option *ngFor="let customer of optionCustomers" [value]="customer.customer_id">
                    {{ customer.customer_name }}
                </option>
            </select>
        </div>

        <div>
            <label class="block mb-2 font-semibold">Project Name*</label>
            <select [(ngModel)]="selectedProjectId" [disabled]="filteredProjects.length === 0"
                class="border p-2 w-full rounded-md" (change)="onProjectChange($event)">
                <option value="" disabled selected>Select Project</option>
                <option *ngFor="let project of filteredProjects" [value]="project.project_id">
                    {{ project.project_name }}
                </option>
            </select>
        </div>


        <div>
            <label class="block mb-2 font-semibold">Project Manager*</label>
            <input type="text" class="border p-2 w-full rounded-md bg-gray-100"
                [value]="selectedProjectManagerName || 'Not Assigned'" readonly />
        </div>


        <div>
            <label class="block mb-2 font-semibold">Employee Name*</label>
            <select [(ngModel)]="selectedEmployeeId" name="employee" class="border p-2 w-full rounded-md">
                <option value="" disabled selected>Select Employee</option>
                <option *ngFor="let employee of optionEmployees" [value]="employee.user_id">
                    {{ employee.user_first_name }} {{ employee.user_last_name }}
                </option>
            </select>
        </div>

        <div>
            <label class="block mb-2 font-semibold">Project Role*</label>
            <select [(ngModel)]="selectedProjectRoleId" name="projectRole" class="border p-2 w-full rounded-md">
                <option value="" disabled selected>Select Project Role</option>
                <option *ngFor="let role of optionProjectRoles" [value]="role.position_id">
                    {{ role.position_name }}
                </option>
            </select>
        </div>



        <!-- Row 2 -->
        <div>
            <label class="block mb-2 font-semibold">Start Date*</label>
            <input type="date" [(ngModel)]="startDate" name="startDate" class="border p-2 w-full rounded-md">
        </div>

        <div>
            <label class="block mb-2 font-semibold">Tentative End Date</label>
            <input type="date" [(ngModel)]="tentativeEndDate" name="tentativeEndDate"
                class="border p-2 w-full rounded-md">
        </div>

        <div>
            <label class="block mb-2 font-semibold">Allocation Status*</label>
            <div class="flex gap-4">
                <label>
                    <input type="radio" [(ngModel)]="selectedAllocationStatus" [value]="1" name="allocationStatus"
                        (change)="onAllocationStatusChange()">
                    Employee
                </label>
                <label>
                    <input type="radio" [(ngModel)]="selectedAllocationStatus" [value]="0" name="allocationStatus"
                        (change)="onAllocationStatusChange()">
                    Shadow
                </label>
            </div>
        </div>


        <div>
            <label class="block mb-2 font-semibold">Allocation Percentage*</label>
            <select [(ngModel)]="selectedAllocationPercentage" name="allocationPercentage"
                class="border p-2 w-full rounded-md">
                <option value="" disabled selected>Select Allocation Percentage</option>
                <option *ngFor="let percentage of allocationPercentages" [value]="percentage">
                    {{ percentage }}%
                </option>
            </select>
        </div>
        <!-- Billed Status -->
        <div>
            <label class="block mb-2 font-semibold">Billed Status*</label>
            <div class="flex gap-4">
                <label>
                    <input type="radio" [(ngModel)]="selectedBilledStatus" [value]="1" name="billedStatus">
                    Billed
                </label>
                <label>
                    <input type="radio" [(ngModel)]="selectedBilledStatus" [value]="0" name="billedStatus">
                    Not Billed
                </label>
            </div>
        </div>

        <!-- Billing Percentage -->
        <div>
            <label class="block mb-2 font-semibold">Billing Percentage*</label>
            <select [(ngModel)]="selectedBillingPercentage" name="billingPercentage"
                class="border p-2 w-full rounded-md">
                <option value="" disabled selected>Select Billing Percentage</option>
                <option *ngFor="let percent of percentageOptions" [value]="percent">{{ percent }}%</option>
            </select>
        </div>


    </div>

    <!-- Submit Button -->
    <div class="mt-6 flex justify-end">
        <button (click)="submitAssignProjectTeam()"
            class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">
            Submit
        </button>
    </div>

    <div class="rounded-lg w-full overflow-x-auto">
        <!-- Filter Section -->
        <div class="min-w-max">

            <div
                class="flex flex-wrap items-center justify-between gap-x-2 gap-y-4 mb-4 py-2 bg-gray-50 rounded shadow-sm w-full">
                <!-- Customer Name Filter -->
                <div class="relative flex-grow">
                    <select [(ngModel)]="customerNameFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="">Select Customer</option>
                        <option *ngFor="let customer of optionCustomers" [value]="customer.customer_id">
                            {{ customer.customer_name }}
                        </option>
                    </select>

                    <button *ngIf="customerNameFilter" (click)="clearFilter('customerNameFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>


                <!-- Project Name Filter -->
                <!-- Project Name Dropdown -->
                <div class="relative flex-grow">
                    <select [(ngModel)]="projectNameFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="">Select Project</option>
                        <option *ngFor="let project of optionProjects" [value]="project.project_id">
                            {{ project.project_name }}
                        </option>
                    </select>
                    <button *ngIf="projectNameFilter" (click)="clearFilter('projectNameFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Employee Name Filter -->
                <!-- Employee Name Dropdown -->
                <div class="relative flex-grow">
                    <select [(ngModel)]="employeeNameFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="">Select Employee</option>
                        <option *ngFor="let employee of optionEmployees" [value]="employee.user_id">
                            {{ employee.user_first_name }} {{ employee.user_last_name }}
                        </option>
                    </select>
                    <button *ngIf="employeeNameFilter" (click)="clearFilter('employeeNameFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Project Role Filter -->
                <div class="relative flex-grow">
                    <select [(ngModel)]="projectRoleFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="" disabled>Select Project Role</option>
                        <option *ngFor="let role of optionProjectRoles" [value]="role.position_id">{{ role.position_name
                            }}
                        </option>
                    </select>
                    <button *ngIf="projectRoleFilter" (click)="clearFilter('projectRoleFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Project Manager Filter -->
                <div class="relative flex-grow">
                    <select [(ngModel)]="projectManagerFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="" disabled>Select Project Manager</option>
                        <option *ngFor="let manager of optionProjectManagers" [value]="manager.user_id">{{
                            manager.user_first_name }} {{ manager.user_last_name }}</option>
                    </select>
                    <button *ngIf="projectManagerFilter" (click)="clearFilter('projectManagerFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Start Date Filter -->
                <div class="relative flex-grow">
                    <input type="date" [(ngModel)]="startDateFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300" />
                    <button *ngIf="startDateFilter" (click)="clearFilter('startDateFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- End Date Filter -->
                <div class="relative flex-grow">
                    <input type="date" [(ngModel)]="endDateFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300" />
                    <button *ngIf="endDateFilter" (click)="clearFilter('endDateFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Allocation Status Filter -->
                <div class="relative flex-grow">
                    <select [(ngModel)]="allocationStatusFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="" disabled>Select Allocation Status</option>
                        <option value="1">Employee</option>
                        <option value="0">Shadow</option>
                    </select>
                    <button *ngIf="allocationStatusFilter" (click)="clearFilter('allocationStatusFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Allocation % Filter -->
                <div class="relative flex-grow">
                    <input type="number" [(ngModel)]="allocationPercentageFilter" placeholder="Allocation %"
                        (input)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300" />
                    <button *ngIf="allocationPercentageFilter !== null"
                        (click)="clearFilter('allocationPercentageFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Billed Status Filter -->
                <div class="relative flex-grow">
                    <select [(ngModel)]="billedStatusFilter" (change)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="" disabled>Select Billed Status</option>
                        <option value="1">Billed</option>
                        <option value="0">Not Billed</option>
                    </select>
                    <button *ngIf="billedStatusFilter" (click)="clearFilter('billedStatusFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Billing % Filter -->
                <div class="relative flex-grow">
                    <input type="number" [(ngModel)]="billingPercentageFilter" placeholder="Billing %"
                        (input)="applyFilters()"
                        class="text-xs border border-gray-300 rounded px-1 py-1 w-full focus:outline-none focus:ring focus:ring-blue-300" />
                    <button *ngIf="billingPercentageFilter !== null" (click)="clearFilter('billingPercentageFilter')"
                        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700">
                        ×
                    </button>
                </div>

                <!-- Clear All Filters -->
                <button (click)="clearFilters()"
                    class="text-xs bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 focus:outline-none flex-grow-0">Clear
                    All Filters</button>
            </div>
        </div>
        <div class="rounded-lg w-full inline-block whitespace-nowrap">
            <table class="w-full border-collapse border border-gray-300 mt-4">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="border p-2">Sr No</th>
                        <th class="border p-2">Customer Name</th>
                        <th class="border p-2">Project Name</th>
                        <th class="border p-2">Employee Name</th>
                        <th class="border p-2">Project Role</th>
                        <th class="border p-2">Project Manager</th>
                        <th class="border p-2">Start Date</th>
                        <th class="border p-2">End Date</th>
                        <th class="border p-2">Allocation Status</th>
                        <th class="border p-2">Allocation %</th>
                        <th class="border p-2">Billed Status</th>
                        <th class="border p-2">Billing Percentag</th>
                        <th class="border p-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of paginatedAssignedProjectTeams; let i = index" class="hover:bg-gray-50">
                        <td class="border p-2">{{ i + 1 }}</td>
                        <td class="border p-2">{{ team.customer_name }}</td>
                        <td class="border p-2">{{ team.project_name }}</td>
                        <td class="border p-2">{{ team.employee_name }}</td>
                        <td class="border p-2">{{ team.project_role }}</td>
                        <td class="border p-2">{{ team.project_manager_name }}</td>
                        <td class="border p-2">{{ team.start_date | date:'dd-MMM-yyyy' }}</td>
                        <td class="border p-2">{{ team.end_date | date:'dd-MMM-yyyy' }}</td>
                        <td class="border p-2">
                            {{ team.allocation_status === 1 ? 'Employee' : 'Shadow' }}
                        </td>
                        <td class="border p-2">{{ team.allocation_percentage }}%</td>
                        <td class="border p-2">{{ team.billed_status ? 'Billed' : 'Not Billed' }}</td>
                        <td class="border p-2">{{ team.billing_percentage }}%</td>
                        <td class="border p-2">
                            <button class="bg-red-500 text-white px-2 py-1 rounded"
                                (click)="deleteAssignProjectTeam(team.project_team_id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination Controls -->

    </div>
    <div class="flex items-center justify-center mt-4 space-x-1">
        <!-- Previous button -->
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
            class="px-3 py-1 border rounded-md">
            Previous
        </button>

        <!-- First Page button -->
        <button *ngIf="currentPage > 3" (click)="changePage(1)" class="px-3 py-1 border rounded-md">
            1
        </button>

        <!-- Ellipsis -->
        <span *ngIf="currentPage > 4" class="px-2">...</span>

        <!-- Page Numbers -->
        <button *ngFor="let page of getVisiblePageNumbers()" (click)="changePage(page)"
            [class.bg-blue-500]="currentPage === page" class="px-3 py-1 border rounded-md">
            {{ page }}
        </button>

        <!-- Ellipsis -->
        <span *ngIf="currentPage < totalPages - 3" class="px-2">...</span>

        <!-- Last Page button -->
        <button *ngIf="currentPage < totalPages - 2" (click)="changePage(totalPages)"
            class="px-3 py-1 border rounded-md">
            {{ totalPages }}
        </button>

        <!-- Next button -->
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
            class="px-3 py-1 border rounded-md">
            Next
        </button>
    </div>
</div>