<app-navbar></app-navbar>


<h2>Resource Management</h2>
<ul>
  <li><a routerLink="allocation-report">Allocation Report</a></li>
  <li><a routerLink="assign-project-team">Assign Project Team</a></li>
  <li><a routerLink="all-teams-timesheet">All Teams Timesheet</a></li>
  <li><a routerLink="all-projects-team">All Projects Team</a></li>
  <li><a routerLink="view-resource-demand">View Resource Demand</a></li>
  <li><a routerLink="view-update-employee-skills">View/Update Employee Skills</a></li>
</ul>
<router-outlet></router-outlet>
