<app-navbar></app-navbar>

<div class="container mx-auto mt-8 p-6 bg-gray-50 shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold text-gray-700 mb-4">Timesheet</h2>
  <ul class="space-y-3">
    <li><a routerLink="summary-report" class="block bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md">Timesheet Summary Report</a></li>
    <li><a routerLink="fill-backdated-timesheet" class="block bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md">Fill Backdated Timesheet</a></li>
    <li><a routerLink="view-my-projects" class="block bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md">View My Projects</a></li>
    <li><a routerLink="fill-timesheet" class="block bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md">Fill Timesheet</a></li>
    <li><a routerLink="view-timesheet" class="block bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md">View Timesheet</a></li>
    <li><a routerLink="export-my-timesheet" class="block bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md">Export My Timesheet</a></li>
    <li><a routerLink="managers-hub" class="block bg-gray-200 hover:bg-gray-300 text-gray-900 py-2 px-4 rounded-md">Manager's Hub</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
