<app-navbar></app-navbar>

<h2>Timesheet</h2>
<ul>
  <li><a routerLink="summary-report">Timesheet Summary Report</a></li>
  <li><a routerLink="fill-backdated-timesheet">Fill Backdated Timesheet</a></li>
  <li><a routerLink="view-my-projects">View My Projects</a></li>
  <li><a routerLink="fill-timesheet">Fill Timesheet</a></li>
  <li><a routerLink="view-timesheet">View Timesheet</a></li>
  <li><a routerLink="export-my-timesheet">Export My Timesheet</a></li>
  <li><a routerLink="managers-hub">Manager's Hub</a></li>
</ul>
<router-outlet></router-outlet>
